.card { margin: 3rem 1rem 1rem 1rem !important; }


input[type=text]:not(.browser-default):disabled{
    color:black;
    border-bottom: 1px solid black;
    box-shadow: none !important;
}

i.material-icons.edit-icon {
    position:  absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    display: block;
}

.remove{
    display: none !important;
}